### ------------------------------ ###
[gcode_macro PRINT_START]
description: Inserted by slicer at start of print. Usage:   Usage: PRINT_START BED_TEMP=<temp> EXTRUDER_TEMP=<temp> [USETOOL=<usetool>]
                     [MESH_MIN=<x,y>] [MESH_MAX=<x,y>] [LAYERS=<num>]
                     [NOZZLE_SIZE=<mm>]
gcode:
    CLEAR_PAUSE
    G28
    {% set IDEX_MODE = printer["gcode_macro LNLOS"].idex_mode|default(0)|int %}
    {% set USETOOL = params.USETOOL|default(0)|int %}
    {% set BED = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER = params.EXTRUDER_TEMP|default(200)|float %}
    #{% set settings = printer["gcode_macro print_start_set"].settings %}
    #{% set MESH_MIN = params.MESH_MIN|default(settings.MESH_MIN)|default(None) %}
    #{% set MESH_MAX = params.MESH_MAX|default(settings.MESH_MAX)|default(None) %}
    #{% set LAYERS = params.LAYERS|default(settings.LAYERS)|default(-1)|int %}
    #{% set NOZZLE_SIZE = params.NOZZLE_SIZE|default(settings.NOZZLE_SIZE)|
     #    default(printer.configfile.settings.extruder.nozzle_diameter)|float %}


    #{% if printer["gcode_macro _bedmesh"].probe_installed != 0 %}
    #    RESPOND TYPE=error MSG="You could have a probe still on. Please Make Sure probe docked and restart print"
	  #  CANCEL_PRINT
    #{% endif %}

    #_RESTORE_IDEX_MODE
    M117 Starting To Heat Extruders

    M104 T0 S{EXTRUDER}
    M104 T1 S{EXTRUDER}
    M140 S{BED}
    # use absolute coords
    G90
    # extruder relative mode
    M83
    
    M117 Waiting for bed temp...
    M190 S{BED}
    
    # wait for both extruders to reach temperature
    M117 Waiting For Extruder 1 Temp to stabilize
    M109 T0 S{EXTRUDER}
    M117 Waiting For Extruder 2 Temp to stabilize
    M109 T1 S{EXTRUDER}
    M117 Temps Reached   
    _RESTORE_IDEX_MODE
    M117 Printing...



### ------------------------------ ###
[gcode_macro END_PRINT]
gcode:
  _MAINTENANCE_TRACKER
  M117 End printing.
  RESPOND MSG="End printing"
  G91 ; relative positioning
  G1 E-1 F300 ;retract the filament a bit before lifting the nozzle to release some of the pressure
  G1 Z+5 E-2 F1000 ;move Z up a bit and extract a bit more
  # T1
  #	T0
  # G90 ; absolute positioning
  # G0 Y220 F6000 ; make the printed object accessible
  m104 S0 T0 ; turn hotend heating off
  m104 S0 T1 ; turn hotend heating off
  M140 S0 ; turn hotbed heating off
  G90
  SET_DUAL_CARRIAGE CARRIAGE=0
  #G0 X70 Y140 F5000
  G28 X
  SET_DUAL_CARRIAGE CARRIAGE=1
  #G0 X170 F5000
  G28 X
  G1 Y{printer.toolhead.axis_maximum.y - 5} F6000 ; Present build plate for completed print
  M106 S255 ; turn fan on for cooling
  M84 ; steppers off
  _clear_stepper_x_range
  M117 Cooling Down
  RESPOND MSG="Fans Cooling For 1 Minute"
  G4 P60000 ;keep fans on for 1 minute
  RESPOND MSG="Fans Turning Off"
  M106 S0 ; turn fan off
  M117 Print Completed

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  ACTIVATE_DUAL_MATERIAL_MODE
  G91
  G1 Z+2 F1050
  G28 X
  G90
  G1 Y{printer.toolhead.axis_maximum.y - 10} F6000
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE






